<h2>Edit Gif:</h2>

<form action="/" method="POST" accept-charset="utf-8">
  <p>
    URL:<br><input type="text" name="URL"/><br>
    Title:<br><input type="text" name="title"/><br>
    Tags:<br><input type="text" name="tags">
  </p>
  <input type="submit" value="Edit">
</form>