<h1>GIF Library</h1>

<nav>
  <a class="button" href="/new">Add a GIF</a>
</nav>

<div>
  {{#each gifs}}
    <img src="{{this.url}}">
    <a href="{{this.id}}">{{this.title}}</a>
    <a class="button" href="/edit/{{this.id}}">edit</a>
  {{/each}}
</div>