<h1>GIF Library</h1>

<nav>
  <a class="button" href="/new">Add a GIF</a>
</nav>

<div>
  <ul>
    {{#each gifs}}
    <li>
      {{!-- target="_blank" opens in a new tab --}}
      <a target="_blank" href="{{this.url}}"><img src="{{this.url}}" style="width:125px"></a>
      <a target="_blank" href="{{this.id}}">{{this.title}}</a>
    {{/each}}
    </li>
  </ul>
</div>