<h1>GIF Library</h1>

<nav>
  <div class="navbar">
    {{#if currentUser}}
      <a href="/logout">Log out {{currentUser.local.username}}</a></li>
    {{else}}
      <a href="/login">Log in</a></li>
      <a href="/signup">Sign up</a></li>
    {{/if}}
      <form class="gifoptions" action="">
        <a href="/gifs/new">Add a GIF</a>
        <input type="search" placeholder="Search GIFs" id="search">
        <button class="searchbutton" type="submit"></button>
      </form>
  </div>
</nav>

<div class="gifbox">
  {{#each gifs}}
      {{!-- target="_blank" opens in a new tab --}}
  <a class="gifs" target="_blank" href="/gifs/{{this.id}}"><img src="{{this.url}}"></a>
  {{/each}}
</div>