<h1>Log in</h2>

<form method="post" action="/login">
  <div>
    <label>Username</label>
    <input type="text" name="username" autocomplete="off" required>
  </div>

  <div>
    <label>Password</label>
    <input type="password" name="password" autocomplete="off" required>
  </div>

  <input class="button" type="submit" value="Log in">
</form>

{{#if message}}
  <div class="alert">{{message}}</div>
{{/if}}
