<h2>New Gif</h2>

<form action="/gifs" method="POST" accept-charset="utf-8">
  <div>
    <label>URL</label>
    <input type="text" name="url" size="100" autocomplete="off"/>
  </div>
  <div>
    <label>Title</label>
    <input type="text" name="title" size="100" autocomplete="off"/>
  </div>
  <div>
    <label>Tags</label>
    <input type="text" name="tags" size="100" autocomplete="off"/>
  </div>
  <input class="button" type="submit" value="Add">
</form>