<h2>New Gif:</h2>

<form action="/" method="POST" accept-charset="utf-8">
  <p>
    URL:<br><input type="text" name="url"/><br>
    Title:<br><input type="text" name="title"/><br>
    Tags:<br><input type="text" name="tags">
  </p>
  <input class="button" type="submit" value="Add">
</form>