{{#if message}}
  <div class="alert">{{message}}</div>
{{/if}}

<h2>Sign up</h2>

<form method="post" action="/signup">
  <span>
    <label>Username</label>
    <input type="text" name="username">
  </span>

  <span>
    <label>Password</label>
    <input type="password" name="password">
  </span>

  <input type="submit" value="Sign up">
</form>