{{#if message}}
  <div class="alert">{{message}}</div>
{{/if}}

<h2>Sign up</h2>

<form method="post" action="/signup">
  <div>
    <label>Username</label>
    <input type="text" name="username" autocomplete="off" required>
  </div>

  <div>
    <label>Password</label>
    <input type="password" name="password" autocomplete="off" required>
  </div>

  <input type="submit" value="Sign up">
</form>