body {
  background: whitesmoke;
  font-family: Helvetica;
  min-height: 100%;
  padding: 10px;
}

h1 {
  color: steelblue;
  font-size: 50px;
  text-align: center;
}

h2 {
  text-align: center;
}

div {
  display: block;
  margin: 20px;
  padding: 20px;
}

li {
  list-style: none;
  margin: 10px;
  padding: 10px;
}

a {
  text-decoration: none;
}

img {
  width: 35%;
}

form {
  text-align: center;
}

.alert {
  border: 2px solid red;
  background: rgba(100, 9, 9, 0.1);
  text-align: center;
}

.button {
  border: 2px solid black;
  color: black;
  padding: 5px;
  text-decoration: none;
  transition-duration: 0.2s;
  width: 10%;
}

.button:hover {
  background: black;
  color: white;
}

.navbar {
  border-bottom: 2px solid black;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.navbutton {
  float: left;
}

#add {
  float: right;
}