body {
  background: whitesmoke;
  font-family: Helvetica;
  min-height: 100%;
  padding: 10px;
}

h1 {
  color: steelblue;
  font-size: 50px;
  text-align: center;
}

h2 {
  text-align: center;
}

a {
  text-decoration: none;
}

form {
  text-align: center;
}

.alert {
  border: 2px solid red;
  background: rgba(100, 9, 9, 0.1);
  text-align: center;
}

.button {
  border: 2px solid black;
  color: black;
  padding: 5px;
  text-decoration: none;
  transition-duration: 0.2s;
  width: 10%;
}

.button:hover {
  background: black;
  color: white;
}

.gifbox {
  display: table;
  clear: both;
  margin: 20px;
  padding: 5px;
}

.gifs {
  float: left;
  list-style-type: none;
  padding: 5px;
}

.gifoptions {
  float: right;
}

.navbar {
  border-bottom: 2px solid black;
  overflow: hidden;
  margin-left: 16px;
  padding: 0;
}

.searchbutton {
  background: gray;
  cursor: pointer;
  padding: 12px;
}

#search {
  float: none;
  font-size: 16px;
  padding: 0;
  text-align: center;
  text-decoration: none;
}