body {
  background: whitesmoke;
  font-family: Helvetica;
  min-height: 100%;
}

h1 {
  color: steelblue;
  font-size: 50px;
  text-align: center;
}

h2 {
  text-align: center;
}

a {
  text-decoration: none;
}

form {
  text-align: center;
}

li {
  float: left;
  list-style-type: none;
  padding: 5px;
}

.alert {
  border: 2px solid red;
  background: rgba(100, 9, 9, 0.1);
  text-align: center;
}

.button {
  border: 2px solid black;
  color: black;
  padding: 5px;
  text-decoration: none;
  transition-duration: 0.2s;
  width: 10%;
}

.button:hover {
  background: black;
  color: white;
}

.gifBox {
  margin: 20px;
  padding: 5px;
}

.gifOptions {
  float: right;
}

.navBar {
  border-bottom: 2px solid black;
  overflow: hidden;
}

#search {
  font-size: 15px;
  text-align: center;
}